Discuss how keys should be located

The presence of https://thibmeu.github.io/draft-darling-key-directory-over-http/draft-darling-key-directory-over-http.html#name-well-known-url seems to imply that keys will be identified by their origin, rather than a URL, and that they need to be trusted over that whole origin. If that's your goal, it should be explicit in the draft. 

This goal would also make the draft less general than its title claims: it's only for keys meant to govern entire origins, and not for any key transferred over HTTP(S).

If this limitation isn't your goal, you should talk about the tradeoffs between origin-wide keys and URL-identified keys.

The draft recommends that protocols define a well-known URL for their protocol. It does not recommend any specifics for this registration. For instance, protocol MAY use path components or query strings to pass more specific information.

[Section 3 of RFC8615](https://www.rfc-editor.org/rfc/rfc8615#section-3) specifies the following

```
Registrations MAY also contain additional information, such as the
   syntax of additional path components, query strings, and/or fragment
   identifiers to be appended to the well-known URI, or protocol-
   specific details (e.g., HTTP [[RFC7231](https://www.rfc-editor.org/rfc/rfc7231)] method handling).
```

I think this addresses your concern, without modification to the draft.

For protocols that can use a whole URL to identify keys, there's no need to define a .well-known path, and in fact such protocols should not do so (primarily because it's harder for many authors to put resources at such a domain-wide location, but also because it unnecessarily consumes space in the well-known registry and, depending on the .well-known description, can make bugs easier if an application converts a URL to an origin before looking for the key). It's fine to recommend this for origin-wide protocols (like several of the motivating protocols), but I don't think the recommendation is a good idea for all key-transfers over HTTP.

It's at least worth consulting the HTTPWG about this question.